<!DOCTYPE html>
<html>
<head>
  <link href="css/site.css" rel="stylesheet" type="text/css" />
  <title>Sinatra MPD client</title>
</head>
<body>
  <div class="container">
    <div class="now-playing">
      <p id="current_title"></p>
      <p id="current_artist"></p>
      <p id="current_album"></p>
      <p id="current_time"></p>
    </div>
    <div class="player">
      <% if HTML5_AUDIO == true %>
        <span id="player">
          <audio id="player_audio" autoplay="false" loop="">
            <source src=<%= STREAM_URL %> type="audio/ogg; codecs=vorbis"/>
          </audio>
        </span>
      <% else %>
        <span id="applet">
          <applet code="com.fluendo.player.Cortado.class" archive="cortado_latest.jar" width="0" height="0">
            <param name="url" value="<%=STREAM_URL%>"/> 
            <param name="video" value="false"/>
            <param name="bufferSize" value=16 />
          </applet>
        </span>
      <% end %>
    </div>
    <div class="controls">
      <span class="control" id="previous">&lt;&lt;</span>
      <span class="control" id="stop">[]</span>
      <span class="control" id="play">&gt;</span>
      <span class="control" id="pause">||</span>
      <span class="control" id="next">&gt;&gt;</span>
      <span id="clear-playlist">clear playlist</span>
    </div>
    <div class="playlist">
      <ul>
      </ul>
    </div>
    <div class="library">
      <ul>
      </ul>
    </div>
    <div style="clear:both;"></div>
  </div>
</body>
<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="js/sinatra-mpc.js"></script>
</html>
