<!DOCTYPE html>
<html>
<head>
  <link href="css/site.css" rel="stylesheet" type="text/css" />
  <title>Sinatra MPD client</title>
</head>
<body>
  <div class="container">
    <div class="now-playing">
      <p id="current_title"></p>
      <p id="current_artist"></p>
      <p id="current_album"></p>
    </div>
    <div class="player">
      <span id="player">
        <audio id="player_audio" autoplay="" loop="">
          <source src=<%= STREAM_URL %> type="audio/ogg; codecs=vorbis"/>
        </audio>
      </span>
    </div>
    <div class="controls">
      <span id="previous">&lt;&lt;</span>
      <span id="stop">[]</span>
      <span id="play">&gt;</span>
      <span id="pause">||</span>
      <span id="next">&gt;&gt;</span>
    </div>
    <div class="playlist">
      <ul>
      </ul>
    </div>
    <div class="library">
      <ul>
      </ul>
    </div>
  </div>
  debugging: <%= session[:cwd]%>
</body>
<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="js/sinatra-mpc.js"></script>
</html>
