* {font-family:sans-serif}
.container {border:4px solid #777; width:98%; border-radius:5px; margin: 5px; padding: 5px;}
.playlist, .controls, .now-playing, .library {border:2px solid #555; width: 400px; border-radius:5px; margin:5px; padding:5px;}
.now-playing{height:155px;}
.controls span{padding:10px;}
.playlist, .library {height:300px; width:400px; overflow:scroll;overflow-x: hidden; float:left;}
.playlist ul, .library ul {list-style-type:none;}
.playlist li, .library li {padding-bottom:6px;}
.name, .add, .remove, .controls span {cursor:pointer}
.playlist li .name:hover, .library li .name:hover {text-decoration: underline;}
.library .add, .playlist .remove {float:left; margin-right:10px; padding:0px 5px; border:2px solid black; border-radius:5px;}
.playlist li .name, .library li .name{float:left;width:250px;}
.library .add:hover {background:green; color:white;}
.playlist .remove:hover {background:red; color:white;}
